@model EmpProject.TransferEmployee

@{
    ViewBag.Title = "Create";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">



<style>
    h2 {
        text-align: center;
        margin-top: 40px;
        margin-right: 100px;
        color: /*#CD3A27*/ #AA3121;
        font-weight: bold;
    }

    .form-horizontal {
        background-color: #B49FEA;
        width: 400px;
        height: 300px;
        padding: 20px;
        /*margin: 50px;*/
        display: block;
        border-radius: 20px;
        margin-left: 400px;
    }

    .form-control {
        display: block;
        /* margin-top: 7px;*/
        width: 90%;
    }

    .col-md-2 {
        margin-top: 7px;
    }

    .btn-default {
        background-color: #095FF5;
        margin-top: 15px;
        color: white;
    }

        .btn-default:hover {
            background-color: #2A428D;
            margin-top: 15px;
            color: white;
        }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <a href="@Url.Action("Index")">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>



    <h2>Transfer Employee</h2>
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SelectEmployee, "SelectEmployee", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SelectEmployee", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectEmployee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Client, "Client", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Client", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Client, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div style="margin-left:400px;">
        @Html.ActionLink("Back to List", "Index")
    </div>*@





<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

